name: Upload to PIP

 
on:
  
  release: 
    types: [created]
  
  workflow_dispatch:

jobs:
  
  upload:
    
    runs-on: ubuntu-latest

    
    steps:
      
      - uses: actions/checkout@v2

      
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: "Installs dependencies"
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install setuptools wheel twine
          python3 -m pip install beautifulsoup4
          python3 -m pip install requests 
          python3 -m pip install html5lib
          
      - name: "Builds and uploads to PyPI"
        run: |
          python3 setup.py sdist bdist_wheel
          python3 -m twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
